#film-content {
  //background-color: yellowgreen;
  #filmArticle {
    // background-color: green;
    #filmLeft {
      //https://www.bootply.com/5l9bZ7ZOt6
      position: absolute;
      top: 80px;
      bottom: 0;
      left: 0;
      overflow-y: scroll;
      .filmLeftArticles {
        background-color: black;
        border: .1px solid white;
        margin: 50px 0 0 0;
        padding: 10px;
        blockquote {
          border-left: none;
          overflow: hidden;
          border-radius: 17px;
          background-color: #9acd32;
          color: white;
          box-shadow: 2px 2px 2px 2px #E0E0E0;
          .quotation-mark {
            margin-top: -10px;
            font-weight: bold;
            font-size: 100px;
            color: white;
          }
          .quote-text {
            font-size: 25px;
            margin-top: -65px;
            word-spacing: 7px;
            letter-spacing: 2px;
          }
          .quote-author {
            font-size: 25px;
            letter-spacing: 2px;
            .articlePosted {
              float: right;
            }
          }
        }
        .filmLeftArticlesDescription {
          border: 1px solid white;
          border-radius: 6px;
          background-color: #9acd32;
          padding: 10px 15px;
          word-spacing: 2px;
          font-size: 17px;
          letter-spacing: 2px;
          box-shadow: 2px 2px 2px 2px #E0E0E0;
          color: white;
          .continueReading {
            margin-left: 10px;
          }
        }
        .filmLeftArticlesDescription::first-letter {
          font-size: bold;
        }
        .filmLeftArticlesImage {
          width: 100%;
          height: auto;
        }
        .filmLeftArticlesImage:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
    #filmRight {
      margin-right: 20px;
      background-color: yellowgreen;
      position: absolute;
      top: 80px;
      bottom: 0;
      right: 0;
      overflow-y: scroll;
      h2 {
        text-align: center;
        margin: 30px 0 0 0;
      }
      .filmRightArticles {
        margin: 50px 10px;
        padding: 10px;
        .filmRightArticlesImage {
          width: 100%;
          height: auto;
        }
        .filmRightArticlesImage:hover {
          cursor: pointer;
          transform: scale(1.2);
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 384px) {
  /* Styles */
  #film-content {
    #filmLeft {
      width: 100%;
      position: static !important;
    }
    #filmRight {
      width: 100%;
      position: static !important;
    }
  }
}