#film-content {
  background-color: yellowgreen;
  #filmArticle {
    background-color: green;
    #filmLeft {
      //https://www.bootply.com/5l9bZ7ZOt6
      position: absolute;
      top: 80px;
      bottom: 0;
      left: 0;
      overflow-y: scroll;
      .filmLeftArticles {
        border: .1px solid white;
        margin: 10px 0 0 0;
        padding: 10px;
        blockquote {
          border-left: none;
          overflow: hidden; //margin-top: -50px;
          //padding-top: -100px;
          border-radius: 17px;
          background-color: rgba(101, 109, 226, 0.9); // margin-top: 25px;
          color: white; //width: 325px;
          box-shadow: 2px 2px 2px 2px #E0E0E0;
          .quotation-mark {
            margin-top: -10px;
            font-weight: bold;
            font-size: 100px;
            color: white;
          }
          .quote-text {
                font-size: 25px;
    margin-top: -65px;
    word-spacing: 7px;
    letter-spacing: 2px;
          }
          .quote-author {
            font-size: 25px;
                letter-spacing: 2px;  
          }
        }
        .filmLeftArticlesDescription {
          border: 1px solid black;
          border-radius: 2px;
          background-color: rgba(198, 200, 216, 0.9);
          padding: 10px 15px;
          word-spacing: 2px;
          font-size: 17px;
          letter-spacing: 2px;
          .continueReading{
            margin-left: 10px;
          }
        }
        .filmLeftArticlesImage {
          width: 100%;
          height: auto;
        }
        .filmLeftArticlesImage:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
    #filmRight {
      margin-right: 20px;
      background-color: yellowgreen;
      position: absolute;
      top: 80px;
      bottom: 0;
      right: 0;
      overflow-y: scroll;
      .filmRightArticles {
        margin: 100px 10px;
        padding: 10px;
        .filmRightArticlesImage {
          width: 100%;
          height: auto;
        }
        .filmRightArticlesImage:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 384px) {
  /* Styles */
  #film-content {
    #filmLeft {
      width: 100%;
      position: static !important;
    }
    #filmRight {
      width: 100%;
      position: static !important;
    }
  }
}