#nav-content {
    .navbar {
        margin-bottom: 0 !important;
        border-radius: 0;
    }
}

@media only screen and (max-width: 384px) {
    /* Styles */
    #nav-content {
        .navbar-brand {
            margin-left: 5px;
        }
        .navbar-nav {
            margin-left: 10px;
        }
        ul li {
            width: 25%;
        }
    }
}