#sports-content {
  background-color: yellowgreen;
  #sportsArticle {
    background-color: green;
    #sportsLeft {
      //https://www.bootply.com/5l9bZ7ZOt6
      position: absolute;
      top: 80px;
      bottom: 0;
      left: 0;
      overflow-y: scroll;
      .sportsLeftArticles {
        margin: 10px 0 0 0;
        padding: 10px;
        .sportsLeftArticlesImage {
          width: 100%;
          height: auto;
        }
        .sportsLeftArticlesImage:hover {
          cursor: pointer;
        }
      }
    }
    #sportsRight {
      margin-right: 20px;
      background-color: yellowgreen;
      position: absolute;
      top: 80px;
      bottom: 0;
      right: 0;
      overflow-y: scroll;
      .sportsRightArticles {
        margin: 100px 10px;
        padding: 10px;
        .sportsRightArticlesImage {
          width: 100%;
          height: auto;
        }
        .sportsRightArticlesImage:hover {
          cursor: pointer;
        }
      }
    }
  }
}
