<div id="film-content" >
    <div id="filmArticle" class="row">
        <div id="filmLeft" class="col-md-7">
            <div class="filmLeftArticles" ng-repeat="filmLeftArticle in filmLeftArticles">
                <blockquote class="quote-box">
                    <p class="quotation-mark">“</p>
                    <p class="quote-text">{{filmLeftArticle.title}}</p>
                    <hr>
                    <p class="quote-author">{{filmLeftArticle.author}}<span class="articlePosted">{{filmLeftArticle.publishedAt | date}}</span></p>
                </blockquote>
                <p class="filmLeftArticlesDescription">{{filmLeftArticle.description}}<span class="continueReading"><a href="{{filmLeftArticle.url}}" target="_blank">Continue reading >></a></span>
                    <p>
                        <img class="filmLeftArticlesImage" ng-src="{{filmLeftArticle.urlToImage}}" ng-click="redirectToOriginalSite(filmLeftArticle.url)"
                            target="_blank" />
            </div>
        </div>
        <div id="filmRight" class="col-md-4">
            <h2 ng-if="showFilm">Top Headlines</h2>
            <div class="filmRightArticles" ng-repeat="filmRightArticle in filmRightArticles">
                <blockquote>
                    <h1>{{filmRightArticle.title}}</h1>
                    <h4>{{filmRightArticle.author}}</h4>
                </blockquote>
                <img class="filmRightArticlesImage" ng-src="{{filmRightArticle.urlToImage}}" ng-click="redirectToOriginalSite(filmRightArticle.url)"
                    target="_blank" />
                <p class="filmRightArticlesDescription">{{filmRightArticle.description}}<span class="continueReading"><a href="{{filmRightArticle.url}}" target="_blank">Continue reading >></a></span>
                    <p>
            </div>
        </div>
        <button id="filmBackToTop" type="button" scrollable ng-click="backToTop()">Back to Top</button>
    </div>
</div>