<div id="sports-content">
    <div id="sportsArticle" class="row">
        <div id="sportsLeft" class="col-md-7">
            <div class="sportsLeftArticles" ng-repeat="sportsLeftArticle in sportsLeftArticles">
                <blockquote>
                <h1>{{sportsLeftArticle.title}}</h1>
                 <h4>-{{sportsLeftArticle.author}}</h4>
                </blockquote>
                <img class="sportsLeftArticlesImage" ng-src="{{sportsLeftArticle.urlToImage}}" ng-click="redirectToOriginalSite(sportsLeftArticle.url)" target="_blank" />
                <p class="sportsLeftArticlesDescription">{{sportsLeftArticle.description}}<p>
            </div>
        </div>
        <div  id="sportsRight" class="col-md-4">
            <h2>Top Headlines</h2>
           <div class="sportsRightArticles" ng-repeat="sportsRightArticle in sportsRightArticles">
                <blockquote>
                <h1>{{sportsRightArticle.title}}</h1>
                 <h4>-{{sportsRightArticle.author}}</h4>
                </blockquote>
                <img class="sportsRightArticlesImage" ng-src="{{sportsRightArticle.urlToImage}}" ng-click="redirectToOriginalSite(sportsRightArticle.url)" target="_blank" />
                <p class="sportsRightArticlesDescription">{{sportsRightArticle.description}}<p>
            </div>
        </div>
    </div>
</div>